body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(80deg, #9dd6f9, #57b1e4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
}

.container:hover {
    transform: scale(1.03);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4), 0px 10px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

h1 {
    font-size: 2rem;
    color: #57b1e4;
    margin-bottom: 30px;
}

.menu-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-btn {
    background-color: #57b1e4;
    color: #ffffff;
    font-size: 1rem;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 0px 5px 10px rgba(87, 177, 228, 0.5);
    transition: all 0.3s ease;
}

.menu-btn:hover {
    background-color: #4593c7;
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(69, 147, 199, 0.5);
}

.exit-btn {
    background-color: #ff4d4d;
}

.exit-btn:hover {
    background-color: #cc0000;
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(204, 0, 0, 0.5);
}
