<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/page404.css">
</head>
<body>
    <div class="container">
        <h2>Oops... Something went wrong</h2>
        <p th:text="${errorMessage}">Что-то пошло не так. Попробуйте еще раз.</p>
        <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExY2JkZjhvcng4eHR5Z2pzd3I3bjVlZ3NyOW0xMXFyZDZub25saHBuNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/pt5SR9Qb6DyyFlWRgO/giphy.webp" alt="Error GIF">
        <button onclick="window.location.href='menu';">Return to the Main Menu</button>
    </div>
    <script type="module" src="js/memory.js"></script>
</body>
</html>
