<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exit Page</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <link rel="stylesheet" href="/css/exit.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <p>Are you sure you want to exit?</p>
            <div class="button-group">
                <form action="/auth/logout" method="POST">
                    <button type="submit" class="exit-btn yes-btn" id="yes-btn">Yes</button>
                </form>
                <button class="exit-btn no-btn" id="no-btn">No</button>
            </div>
        </div>
    </div>

    <script>
        function ExitPage() {
            this.yesBtn = document.getElementById('yes-btn');
            this.noBtn = document.getElementById('no-btn');

            this.addEventListeners();
        }

        ExitPage.prototype.exit = function () {
            const isClosed = window.close();
            
            if (!isClosed) {
                setTimeout(function() {
                    alert("Please close the window manually");
                }, 200);
            }
        };

        ExitPage.prototype.navigateBack = function() {
            window.history.back();
        };

        ExitPage.prototype.addEventListeners = function() {
            this.yesBtn.addEventListener('click', this.exit);
            this.noBtn.addEventListener('click', this.navigateBack);
        };

        const exitPage = new ExitPage();
    </script>
</body>
</html>
