<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <div class="sign-in">
            <h1>Ready to Fly?</h1>
            <p>Sign In and start your adventure!</p>

            <div id="error-message" class="error-message" th:if="${errorMessage != null}">
                <p id="error-text" style="color: red" th:text="${errorMessage}"></p>
            </div>

            <form action="/auth/login" method="POST">
                <input type="text"  id="username" name="username" placeholder="Enter your username" required>
                <div class="password-field">
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    <span class="toggle-password" onclick="togglePassword()">
                        <i class="fas fa-eye-slash"></i>
                    </span>
                </div>
                <button class="sign-in-btn" id="sign-in-btn" type="submit">Sign In</button>
                <a href="/oauth2/authorization/google" class="sign-in-btn">
                    Sign In with <i class="fab fa-google" style="margin-left: 10px; font-weight: bold;"></i>
                </a>
            </form>
        </div>

        <div class="sign-up">
            <h1>Join the Fun!</h1>
            <p>Create an account to track your progress and play anytime & anywhere!</p>
            <a class="sign-up-btn" id="sign-up-btn" href="/auth/register">
                <span>S</span>
                <span>i</span>
                <span>g</span>
                <span>n</span>
                <span>&nbsp;</span>
                <span>U</span>
                <span>p</span>
            </a>
        </div>
    </div>

    <script type="module" src="/js/memory.js"></script>
    <script>
        function LoginPage() {
            this.signUpBtn = document.getElementById('sign-up-btn');
            this.signIpBtn = document.getElementById('sign-in-btn');
    
            this.addEventListeners();
        }
    
        function togglePassword() {
            const passwordInput = document.getElementById('password');
            const toggleIcon = document.querySelector('.toggle-password i');
            const isPasswordVisible = passwordInput.type === 'text';
    
            passwordInput.type = isPasswordVisible ? 'password' : 'text';
            toggleIcon.classList.toggle('fa-eye');
            toggleIcon.classList.toggle('fa-eye-slash');
        }
    
        LoginPage.prototype.navigateToRegistration = function() {
            window.location.href = 'registration.html';
        };
    
        // temp solution
        LoginPage.prototype.navigateToMenu = function() {
            window.location.href = 'menu.html';
        };
    
        LoginPage.prototype.addEventListeners = function() {
            this.signUpBtn.addEventListener('click', this.navigateToRegistration);
            this.signIpBtn.addEventListener('click', this.navigateToMenu);
        };
    
        const loginPage = new LoginPage();
    </script>
</body>
</html>
